{% extends 'blog/base.html'%}

{% block content %}
    {% for post in posts %}
    <div class = "container post-preview">
        <div class = "row">
            <div class="post">
                <div class = "col-md-6">

                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                </div>
                <div class="date col-md-2">
                    {{ post.published_date }}
                </div>
            </div>
        </div>

    </div>

    {% endfor %}
{% endblock %}
